body {
  background-color: rgb(138, 135, 135);
  font-family: 'Times New Roman', serif;

}

.header {
  text-align: center;
}

h1 {
  font-size: 8vw;
  font-family: 'Times New Roman', serif;
  color: rgb(139, 80, 80);
}